<!--<!DOCTYPE HTML>-->
<!--<html>-->
<!--<body>-->

<% var date = new Date(flight['Dep_DateTime']).toString().split(" "),depDate =  date[0]+" "+date[1]+" "+date[2]+" "+date[3]+" ",depTime = date[4]; %>
<% var date1 = new Date(flight['Arrival_DateTime']).toString().split(" "),arrDate =  date1[0]+" "+date1[1]+" "+date1[2]+" "+date1[3]+" ",arrTime = date1[4];%>
<% var totalPassengers = pass.totalPassengers,price = flight.price %>

<div class="container">
	<p>Dear <%= pass['firstname'] %>,</p>
	<p>These are the details of the last ticket you booked with us. We hope you enjoy your journey</p>
	<div class="col-lg-4"></div>
	<div class = "container">
		<div class="col-lg-12">
			<table>
				<thead>
					<tr>
						<th>Source</th><td><%= flight['source'] %></td>
						<th>Destination</th><td><%= flight['destination'] %></td>
					</tr>
					<tr>
						<th colspan = 2>Departure Details</th>
						<th colspan = 2>Arrival Details</th>
					</tr>
					<tr>
						<th>Date</th><td><%= depDate %></td>
						<th>Date</th><td><%= arrDate %></td>
					</tr>
					<tr>
						<th>Time</th><td><%= depTime %></td>
						<th>Time</th><td><%= arrTime %></td>
					</tr>
					<tr>
						<th>Airport</th><td><%= flight['s_name'] %></td>
						<th>Airport</th><td><%= flight['t_name'] %></td>
					</tr>
					<tr>
						<th>City</th><td><%= flight['s_city'] %></td>
						<th>City</th><td><%= flight['t_city'] %></td>
					</tr>
					<tr>
						<th></th>
						<th>
							<table width = "50%">
								<th>First Name</th>
								<th>Last Name</th>
								<th>Age</th>
							</table> 
						</th>
						<th>Quantity</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody id="myTable">
					<tr>
						<% if(totalPassengers == 1){ %>
							<td>Ticket</td>
						<% } else { %>
							<td >Tickets</td>
						<% } %>
						<td>
							<table width = "50%">
								<% p.forEach( function(p) { %>
									<tr>
										<td><%= p['firstname'] %></td>
										<td><%= p['lastname'] %></td>
										<td><%= p['age'] %></td>
									</tr>
								<% }); %>
							</table>
						</td>
						<td ><%= totalPassengers %></td>
						<td ><i class="fas fa-rupee-sign"></i><%= totalPassengers*price %></td>
					</tr>
					<tr>
						<% f.forEach(function(f){  %>
							<td>Food</td>
							<td><%= f['name'] %></td>
							<td><%= totalPassengers %></td>
							<td><i class="fas fa-rupee-sign"></i><%= totalPassengers*f['price'] %></td>
						<% }) %>
					</tr>
					<tr>
						<% f.forEach(function(f){  %>
							<td colspan=3> Total</td>
							<td><i class="fas fa-rupee-sign"></i><%= totalPassengers*price + totalPassengers*f['price'] %></td>
						<% }) %>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-4"></div>
	</div>
	<p>This is a system generated email. Do not reply to this email</p>
	<p>Thanking You,</p>
	<p>D&S</p>
<!--</body>-->
<!--</html>-->